# OS files
.DS_Store

# IDE files
.idea/
*.iml

# Local environment files
local.properties

# Gradle local caches / artifacts
.gradle/
.gradle-local/
**/.gradle/

# Build outputs
build/
**/build/
captures/
.externalNativeBuild/
.cxx/
.kotlin/

# Logs
*.log
